h2 {
	font-size: 20px;
}
body{
	font-family: 'Open Sans', sans-serif;
}
div#calc-body {
	height: 321px;
	width: 236px;
	border-radius: 5px;
	background: #959595;
	transition: background-color 1s;
}
ul.close-menu {
	border-radius: 5px;
	height: auto;
	padding: 1px 8px 4px 7px;
	margin-bottom: 0px;
	background-color: #959595;
	transition: background-color 1s;
}
.close-menu > li{
	display: inline-block;
}
.round-buttom{
	border-radius: 25px;
	height: 12px;
	width: 12px;
	margin: 0 4px;
}
.min-red-buttom{
 background: #ea504a;
}
.min-yellow-buttom{background: #f7bd33;}
.min-green-buttom{background: #6bcf45;}

.digital-screen{
	text-align: right;
	color: white;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	padding: 0px 10px 13px 10px;
	margin-bottom: -5px;
	height: 46px;
	width: 210px;
	border: 1px;
	background-color: transparent;
}
#screen:focus {
    outline-color: transparent;
}
#screen {
	background-color: #959595; 
	transition: background-color 1s;
}
.ndSkin > .close-menu {
	background-color: rgb(59, 59, 59);
	transition: background-color 1s;
}
.ndSkin > #screen {
	background-color: rgb(59, 59, 59);
	transition: background-color 1s;
}
.ndSkin > #num-pad {
	background-color: rgb(59, 59, 59);
	transition: background-color 1s;
}
.ndSkin .num-pad-item:nth-child(4n) {
	background-color: #3e1e58!important;
	transition: background-color 1s;
}
.ndSkin .num-pad-item:nth-child(4n):active {
	background-color: #73449a!important;
	transition: background-color 1s;
}
.ndSkin .num-pad-item:last-child {
	background-color: #3e1e58!important;
	transition: background-color 1s;

}
.ndSkin .num-pad-item:last-child:active {
	background-color: #73449a!important;
	transition: background-color 1s;

}
.ndSkin .num-pad-item {
	background-color: #5c5c5c!important;
	color: white;
	transition: background-color 1s;

}
.ndSkin .num-pad-item:active {
	background-color: #959595!important;
	color: white;
	transition: background-color 1s;
}
.ndSkin .num-pad-item:first-child,.ndSkin .num-pad-item:nth-child(2),.ndSkin .num-pad-item:nth-child(3) {
	background-color: #5c5c5c!important;
	color: white;
	transition: background-color 1s;
}
.ndSkin .num-pad-item:first-child:active,.ndSkin .num-pad-item:nth-child(2):active,.ndSkin .num-pad-item:nth-child(3):active {
	background-color: #959595!important;
	color: white;
	transition: background-color 1s;
}
.ndSkin .num-pad-item:first-child p,.ndSkin .num-pad-item:nth-child(2) p,.ndSkin .num-pad-item:nth-child(3) p {
	color: white;
}
.ndSkin {
	background-color: rgb(59, 59, 59) !important;
}


.num-pad{
	display: table;
	height: 0;
	/* width: 100%; */
	margin: 1px;
	padding: 0px;
}
.wide-button {
	width: 50% !important;
	float: left !important;
	border-bottom-left-radius: 5px;
	padding-right: 1px;
}
.wide-button > p {
	padding-left: 22px;
	text-align: left !important;
}
/*.num-pad-item:hover{
	background: #dcc5eb;
}*/
.num-pad-item:active{
	background: #717089;
}
.num-pad-item p {
	padding-right: 3px;
	padding-top: 4px;
	font-size: 22px;
	line-height: 0;
	margin-top: 19px;
	margin-bottom: 20px;
	text-align: center;
}
.num-pad-item:nth-child(4n){
	background-color: #f19233 !important;
	color: white !important;
	transition: background-color 1s;
	font-weight: 400;
}
.num-pad-item:nth-child(4n):active{
	background-color: #f4b371 !important;
	color: white !important;
	transition: background-color 1s;
}
.num-pad-item:first-child, .num-pad-item:nth-child(2), .num-pad-item:nth-child(3){
	background-color: #d6d6d6 !important;
	color: #2c2c2c !important;
	transition: background-color 1s;
	font-size: 17px !important;
}
.num-pad-item:first-child:active, .num-pad-item:nth-child(2):active, .num-pad-item:nth-child(3):active{
	background-color: #717089 !important;
	color: #2c2c2c !important;
	transition: background-color 1s;
}
.num-pad-item:first-child p, .num-pad-item:nth-child(2) p, .num-pad-item:nth-child(3) p{
	font-size: 18px;
	padding-top: 6px;
}
.
.num-pad-item:nth-child(17){
	border-bottom-left-radius: 5px;
}
.num-pad-item:nth-child(4n) p{
	font-size: 26px !important;
	margin-top: 18px;
}
.num-pad-item:last-child{
	background-color: #f19233;
	color: white;
	border-bottom-right-radius: 5px;
}
.num-pad-item:last-child p{
	font-size: 24px !important;
}

.num-pad-item:last-child:active, .num-pad-item:nth-child(4n):active {
	background-color: #f4b371;
	color: white;
}
.num-pad-item{
	border: 1px solid rgb(142, 142, 142);
	display: inline-table;
	position: relative;
	left: 1px;
	width: 25.66666666%;
	height: 51px;
	background-color: #e0e0e0;
	margin: -2px;
	margin-bottom: -3px;
	transition: background-color 1s;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  font-weight: 300;
 font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  text-align: right;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  font-weight: 300;
 font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  text-align: right;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
  font-weight: 300;
 font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  text-align: right;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
  font-weight: 300;
 font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  text-align: right;
}